<!-- backgroundcolor:black; padding y轴; mt-auto:margin top auto使页脚移到底部
justifycontent会移动所有内容。在主轴上移动特定内容使用margin top auto或magin left auto等 -->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2023</span>
  </div>
</footer>
